@import url('https://fonts.googleapis.com/css?family=Nunito');
body {
    color: #3E5151;
    margin-top: auto;
    margin-right: auto;
    font-family: 'Nunito', sans-serif;
}
#circles{
    margin: auto auto ;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-35%);
}
h1 {
    border: 0px;
    
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 30px;
    text-align: center;

}